# Copyright 2022 The Sigstore Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: build-tools-ci

on:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  verify-build-tools:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: read

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 # v2
        id: changes
        with:
          filters: |
            tools:
              - 'prober/**'
              - 'pager-duty/**'
              - .github/workflows/build-tools-ci.yml

      - name: Set up Go
        if: steps.changes.outputs.tools == 'true'
        uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v3.3.0
        with:
          go-version: 1.19
          check-latest: true

      - name: build local probers
        if: steps.changes.outputs.tools == 'true'
        run: |
          go build ./prober/rate-limiting.go
          go build ./prober/ctlog/ctlog-sth.go

      - name: build pager-duty
        if: steps.changes.outputs.tools == 'true'
        working-directory: pager-duty
        run: |
          make

      - name: test pager-duty
        if: steps.changes.outputs.tools == 'true'
        working-directory: pager-duty
        run: |
          make test

      - name: lint pager-duty
        if: steps.changes.outputs.tools == 'true'
        uses: golangci/golangci-lint-action@5f1fec7010f6ae3b84ea4f7b2129beb8639b564f # v3.5.0
        with:
          working-directory: pager-duty

      - name: build probers
        if: steps.changes.outputs.tools == 'true'
        run: |
          make -C prober/ prober
          make -C prober/ verify
          make -C prober/ crane rekor-cli cosign
